<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Informacije</h2>
                    </li>
                    <li>
                        <a href="/">Početna</a>
                    </li>
                    <li>
                        <a href="/about">O nama</a>
                    </li>
                    <li>
                        <a href="/projects">Galerija</a>
                    </li>
                    <li>
                        <a href="/reviews">Preporuke</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Kontakt</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            La Camilla Beauty Bar<br>
                        </a>
                        <a>Ulica Ante Mike Tripala 2, 10000 Zagreb<br></a>
                        <h5>RADNO VRIJEME: </h5>
                        <a>Pon-Pet 09:00-21:00</a><br>
                        <a>Subota: 08:00-15:00</a><br>
                        <a>Nedjelja - zatvoreno.</a>
                    </li>
                    <li>
                        <a href="tel:+38598776032">
                            Tel: 091 984 5181
                        </a>
                    </li>
                    <li>
                        <a href="/contact">E-mail: lacamilla.beautybar@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span class="copyright">Copyright 2024 - Present</span>
    </div>
</footer>