---
title: 'O nama | La Camilla'
description: 'Meta description for the page'
preloadImg: '/assets/images/la-camilla-logo.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">O nama</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images2/la-camilla-logo.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images2/la-camilla-logo.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images2/la-camilla-logo.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images2/nokti5.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images2/nokti5.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/nokti5.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images2/maderoterapija.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images2/maderoterapija.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/maderoterapija.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Tradicija </span>
                <h2 class="cs-title">La Camilla</h2>
                <p class="cs-text">
                    La Camilla je beauty bar s dugogodišnjom tradicijom. Nudimo široku 
                    ponudu usluga i tretmana u području njege lica i tijela.
                </p>
                <p class="cs-text">
                    La Camilla je obiteljski obrt nastao 2004. godine, čije su osnovne 
                    djelatnosti manikura, pedikura i masaže. 
                </p>
                <p class="cs-text">
                    Naše iskusne djelatnice će na profesionalan način pružiti najbolju uslgu. 
                    Koristimo kvalitetne preparate i opremu za postizanje kvalitetne usluge.
                </p>
                <p class="cs-text">
                    Uvijek smo u korak s vremenom i trendovima te Vam uvijek možemo 
                    predložiti tretman koji bi Vam se mogao svidjeti i naravno udovoljiti 
                    Vašim željama i zahtjevima.
                </p>
                <!-- <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div> -->
                <a href="/projects" class="cs-button-solid">Galerija</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}