---
title: 'Kontakt | La Camilla'
description: 'Meta description for the page'
preloadImg: '/assets/images/la-camilla-logo.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Kontakt</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images2/la-camilla-logo.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images2/la-camilla-logo.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images2/la-camilla-logo.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <!-- <span class="cs-topper">Contact</span> -->
                    <h2 class="cs-title">Kontakt</h2>
                    
                <div class="cs-content">
                    <!-- <span class="cs-topper">Contact</span> -->
                    <p class="cs-text">
                    </p>
                    <p>La Camilla Beauty Bar</p>
                    <p>Ulica Ante Mike Tripala 2, 10000 Zagreb</p>
                    <p>Tel: 091 984 5181</p>
                    <p>E-mail: lacamilla.beautybar@gmail.com</p><br>
                    <h5>RADNO VRIJEME: </h5><br>
                        <p>Pon-Pet 09:00-21:00</p><br>
                        <p>Subota: 08:00-15:00</p><br>
                        <p>Nedjelja - zatvoreno</p>
                </div>
            </form>
            <iframe style="max-height: 100%; width: 100%; margin-top: 1rem; margin-right: 1rem;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2781.6249477602028!2d15.9057179764589!3d45.798741071081416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d1fee97dbc33%3A0x3dffb8f677f3b945!2sLa%20Camilla%20beauty%20bar!5e0!3m2!1shr!2shr!4v1726908039750!5m2!1shr!2shr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
{% endblock %}
