---
title: 'Preporuke | Klesarstvo Zagreb'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Preporuke</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images2/kuhinja3.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images2/kuhinja3.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images2/kuhinja3.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Preporuke_Bajuti_Zeljka.jpg" alt="" width="99" height="99">
                </picture>
                <p>
                    Sve pohvale i preporuke za Klesarstvo Zagreb! Stručni i profesionalni djelatnici. Sve po dogovoru, izvrstan! Svaka preporuka.
                </p>
                <div class="star-group">
                    <span class="name">Željka Bajuti<span class="desc">zadovoljna klijentica</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Preporuke_Gacina_Andrej.jpg" alt="" width="99" height="99">
                </picture>
                <p>
                    Odlično Klesarstvo Zagreb! Ljubazni djelatnici, profesionalni i stručni, s kojima je jednostavno i odlično surađivati. Svakako preporučujem. U zagrebu ima puno klesarskih radnji, ali svima preporučujem Klesarstvo Zagreb.
                </p>
                <div class="star-group">
                    <span class="name">Andrej Gaćina<span class="desc">zadovoljni klijent</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Preporuke_Herceg_Ivana.jpg" alt="" width="99" height="99">
                </picture>
                <p>
                    Sve pohvale i preporuke za vlasnika radnje. Došao je na vrijeme na dogovoreno mjesto, obavili smo sve vrlo jednostavno.
                    Opet ću ga angažirati za slične stvari...
                </p>
                <div class="star-group">
                    <span class="name">Ivana Herceg<span class="desc">osobna trenerica i fitness model</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Preporuke_Krajancic_Andriana.jpg" alt="" width="99" height="99">
                </picture>
                <p>
                    Zahvala Klesarstvu Zagreb na stručnom i u roku napravljenom poslu.
                </p>
                <div class="star-group">
                    <span class="name">Andriana Krajančić<span class="desc">modna stilistica</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/images/Preporuke_Novak_Manuela.jpg" alt="" width="99" height="99">
                </picture>
                <p>
                    Vrhunska usluga, ljubazni, profesionalno odrađen posao, ne možete pogriješiti
                </p>
                <div class="star-group">
                    <span class="name">Manuela Novak<span class="desc">osobna trenerica</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
            <!-- <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed recusandae rerum unde similique ratione sapiente necessitatibus natus mollitia nam iusto.
                </p>
                <div class="star-group">
                    <span class="name">Brian A.<span class="desc">Homeowner</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div> -->
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}