---
title: 'Klesarstvo Zagreb'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <!-- <span class="cs-topper">mountain hiking society</span> -->
                <h1 class="cs-title">Klesarstvo Zagreb</h1>
                <p class="cs-text">
                    Usluge klesanog kamena i mramora
                </p>
                <a href="/about" class="cs-button-solid">O nama</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Kontakt info
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images2/hero.avif">
            <source media="(min-width: 601px)" srcset="/assets/images2/hero.avif">
            <img aria-hidden="true" decoding="async" src="/assets/images2/hero.avif" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images2/kuhinja.avif"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <!-- <h2>Service 1</h2> -->
            <p>Naše usluge uključuju izradu nadgrobnih spomenika, stepeništa, kamenih zidova, obloga i još mnogo toga.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images2/ploča.webp"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <!-- <h2>Service 2</h2> -->
            <p>Cilj nam je proizvesti trajan i moderan proizvod, koji svojom cijenom opravdava kvalitetu i izvedbu. Između ostalog uz ponudu nadgrobnih spomenika nudimo Vam mogućnost izbora nadgrobne galanterije renomiranih tvrtki.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images2/pod.jpg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <!-- <h2>Service 3</h2> -->
            <p>Kamene stepenice u unutarnjim i vanjskim prostorima su idealan odabir, ako želite kvalitetnu podlogu koja će trajati vječno. U širokoj paleti boja, vjerujemo da ćete naći nešto što će zadovoljiti Vaš ukus i interijer.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images2/kuhinja2.jpg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <!-- <h2>Service 3</h2> -->
            <p>Granitna kuhinjska radna ploča element je koji podiže svaku kuhinju. Uz ljepotu granita, odlikuje su i vrhunskim upotrebnim karakteristikama. Materijal je sjajan, tvrd, otporan na ogrebotine, toplinu, te higijenski lagan za održavanje. Kako bi se spriječilo minimalno upijanje ulja i vode, radne ploče možemo impregnirati profesionalnim sredstvima za tu namjenu.</p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images2/spomenik.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images2/spomenik.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/spomenik.webp" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images2/kuhinja.avif">
                    <source media="(min-width: 601px)" srcset="/assets/images2/kuhinja.avif">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/kuhinja.avif" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <!-- <span class="cs-topper">O nama</span> -->
                <h2 class="cs-title">O nama</h2>
                <p class="cs-text">
                    Klesarstvo Zagreb je klesarski obrt s dugogodišnjom tradicijom. Nudimo širok asortiman usluga i materijala u području klesarstva.
                </p>
                <p class="cs-text">
                    Osnovna djelatnost firme je izrada i montaža nadgrobnih spomenika te izrada i opločavanje kazeta za urne, ali nudimo i druge usluge.
                </p>
                <p class="cs-text">
                    Kvaliteta, brzina i dizajn su tri razloga zašto izabrati baš nas za sve Vaše klesarske radove.
                </p>
                <p class="cs-text">
                    Naš tim Vam omogućava najkraće vrijeme za izmjere i pregled lokacije te kratke rokove za realizaciju projekta.
                </p>
                <!-- <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.
                    </p>
                    <span class="cs-name">Justin Time</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div> -->
                <a href="/about" class="cs-button-solid">Saznajte više</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images2/pod.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images2/pod.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/pod.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images2/uzorak.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images2/uzorak.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/uzorak.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <!-- <span class="cs-topper">SEO Ranking</span> -->
                <h2 class="cs-title">Usluge</h2>
                <p class="cs-text">
                    Nudimo širok asortiman usluga koje uključuju izradu kuhinjskih mramornih i kamenih radnih površina, oblaganje stepeništa, zidova i podova, nadgrobne spomenike, i vrtne staze.
                </p>
                <p class="cs-text">
                    Naše usluge uključuju brzu i profesionalnu procjenu te kvalitetnu realizaciju projekta.
                </p>
                <a href="/contact" class="cs-button-solid">Kontakt</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <!-- <span class="cs-topper">Our Portfolio</span> -->
            <h2 class="cs-title">Naš prostor</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images2/hero.avif">
                        <source media="(min-width: 601px)" srcset="/assets/images2/hero.avif">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/hero.avif" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images2/kuhinja.avif">
                        <source media="(min-width: 601px)" srcset="/assets/images2/kuhinja.avif">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/kuhinja.avif" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images2/kuhinja2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/kuhinja2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/kuhinja2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images2/pod.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/pod.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/pod.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images2/stepenice.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/stepenice.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/stepenice.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images2/uzorak.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/uzorak.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/uzorak.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                </div>
            </div>
            <a href="/projects" class="cs-button-solid">Galerija</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <!-- <span class="cs-topper">Recenzije</span> -->
            <h2 class="cs-title">Preporuke naših zadovoljnih klijenata</h2>
            <p class="cs-text">
                Pogledajte preporuke naših zadovoljnih klijenata
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/Preporuke_Bajuti_Zeljka.jpg"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Odlično klesarstvo Zagreb! Ljubazni djelatnici, profesionalni i strućni, s kojima je jednostavno i odlično surađivati. Svakako preporučujem. U zagrebu ima puno klesarskih radnji, ali svima preporučujem Klesarstvo Zagreb!
                    </p>
                    <span class="cs-reviewer">
                        Željka Bajuti
                        <!-- <span class="cs-desc">Homeowner</span> -->
                    </span>
                    <!-- <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" /> -->
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images/Preporuke_Gacina_Andrej.jpg"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Sve pohvale i preporuke za Klesarstvo Zagreb! Stučni i profesionalani djelatnici. Svaka preporuka!
                    </p>
                    <span class="cs-reviewer">
                        Andrej Gaćina
                        <!-- <span class="cs-desc">stolnotenisač hrvatske reprezentacije</span> -->
                    </span>
                    <!-- <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" /> -->
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Preporuke</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}