---
title: 'La Camilla Beauty Bar'
description: 'Meta description for the page'
preloadImg: '/assets/images/la-camilla-logo.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
                <!-- <span class="cs-topper">mountain hiking society</span> -->
                <h1 class="cs-title">La Camilla Beauty Bar</h1>
                <p class="cs-text">
                    Beauty, cosmetic & personal care
                </p>
                <a href="/about" class="cs-button-solid">O nama</a>
                <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Kontakt info
                </a>
            </div>
        </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images2/la-camilla-logo.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images2/la-camilla-logo.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images2/la-camilla-logo.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images2/nokti1.jpg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <!-- <h2>Service 1</h2> -->
            <p>U našem beauty baru svakom klijentu posvećujemo potpunu 
                pažnju i fokusiramo se na pružanje personalizirane usluge.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images2/radiofrekvencija-lica.jpg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <!-- <h2>Service 2</h2> -->
            <p>Za ostvarenje uspjeha, zaslužne su naše djelatnice 
                koje uvelike doprinose svojim marljivim radom i širokim 
                spektrom znanja.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images2/oklagije.jpg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <!-- <h2>Service 3</h2> -->
            <p>Posao odrađen s ljubavlju i posebnom pažnjom razlog je 
                zašto smo zadobili povjerenje naših klijenata.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images2/masaza.jpg"
                alt="appliance"
                width="48"
                height="48" />
            </picture>
            <!-- <h2>Service 3</h2> -->
            <p>Posjetite naš kozmetički salon, izgledajte prekrasno i 
                osjećajte se posebno u svakom trenutku.</p>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images2/nokti2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images2/nokti2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/nokti2.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images2/nokti3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images2/nokti3.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/nokti3.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <!-- <span class="cs-topper">O nama</span> -->
                <h2 class="cs-title">O nama</h2>
                <p class="cs-text">
                    La Camilla uspješno radi od "2004." godine. Opremljen je modernim
                     uređajima koji se koriste u kozmetičkim salonima diljem svijeta.
                </p>
                <p class="cs-text">
                    Osoblje salona je stručno educirano, sa stalnim unapređivanjem znanja 
                    kako bi pružili vrhunsku uslugu.
                </p>
                <p class="cs-text">
                    Kvaliteta, posvećenost i ljubav prema poslu razlozi su
                    zašto odabrati naš centar za uljepšavanje Vašeg dana.
                </p>
                <p class="cs-text">
                    Naš tim će Vam pružiti tretman kakav zaslužujete,
                     sve uz osimjeh na licu i s profesionalnim pristupom.
                </p>
                <a href="/about" class="cs-button-solid">Saznajte više</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images2/nokti4.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images2/nokti4.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/nokti4.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images2/obrve.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images2/obrve.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images2/obrve.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <!-- <span class="cs-topper">SEO Ranking</span> -->
                <h2 class="cs-title">Usluge</h2>
                <p class="cs-text">
                    Nudimo širok asortiman usluga koje uključuju detox, trajni lak, cupping tretmane, masaže, maderoterapiju, radiofrekvenciju lica, konzultacije i još mnogo toga.
                </p>
                <p class="cs-text">
                    Naše usluge uključuju personaliziran i profesionalan pristup te kvalitetnu realizaciju vaših želja.
                </p>
                <a href="/contact" class="cs-button-solid">Kontakt</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <!-- <span class="cs-topper">Our Portfolio</span> -->
            <h2 class="cs-title">Galerija</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images2/nokti6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/nokti6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/nokti6.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images2/nokti5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/nokti5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/nokti5.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images2/oklagije2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/oklagije2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/oklagije2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images2/radiofrekvencija-lica.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/radiofrekvencija-lica.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/radiofrekvencija-lica.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images2/cupping.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/cupping.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/cupping.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images2/botoks.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images2/botoks.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images2/botoks.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                </div>
            </div>
            <a href="/projects" class="cs-button-solid">Galerija</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <!-- <span class="cs-topper">Recenzije</span> -->
            <h2 class="cs-title">Preporuke naših zadovoljnih klijenata</h2>
            <p class="cs-text">
                Pogledajte preporuke naših zadovoljnih klijenata
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images2/user5.avif"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Bila sam na masaži cijelog tijela. Nešto predobro! Zahvaljujem mladoj 
                        dami na divnoj atmosferi, masaži i uslužnosti. Sve za odličan 5. 
                        Uživala sam za vrijeme trajanja cijelog tretmana. Svaka čast, za
                         svaku preporuku. Tako mlada, tako profesionalna, 
                         puna volje i znanja. Definitivno ću opet doći kod vas. 
                         Hvala za divan tretman!
                    </p>
                    <span class="cs-reviewer">
                        Željka Božić
                        <!-- <span class="cs-desc">Homeowner</span> -->
                    </span>
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="/assets/images2/user3.avif"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Djevojke su izrazito profosionalne i ljubazne. Najbolja masaža 
                        tijela, predivno urađen trajni lak. Stigli su im novi tretmani te 
                        jedva čekam doći ponovo 😊 Toplo preporučujem.
                    </p>
                    <span class="cs-reviewer">
                        Andrea Gaćina
                        <!-- <span class="cs-desc">stolnotenisač hrvatske reprezentacije</span> -->
                    </span>
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Preporuke</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}